:root {
    --primaryColor: white;
    --secondaryColor: rgb(21, 255, 255);
    --lightColor: aliceblue;
    --bgColor-1:  rgba(0, 0, 0, 0.543);
    --bgColor-2: rgb(66, 184, 148);
    --havarColor-2: rgb(7, 7, 9);
  
    --padding: 8%;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: var(--lightColor)
     /* box-shadow: 0 0 0 3px red;  */
  }
  body{
    
    background-image: url(../img/bacgr.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  /* header et nav bar */
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    ;
  }
  
  .nav-link>li>a,
  header>h3>a,
  header>a,
  .icon-social>li>a{
text-decoration: none;
color: var(--primaryColor);
  }

  .bac-dark{
    min-width: 85%;
    height: 80vh;
    background-color: var(--bgColor-1);
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 19px 0 rgba(10, 0, 0, 0.2), 0 6px 20px 0 rgba(7, 0, 0, 0.19);
  
}
   /* header et nav bar */

   header .navbar{
    padding: 10px;
    /* margin: 20px; */
    width: 100%;
    display: flex;
    justify-content: space-between; 
}
.navbar .logo{
    font-size: 1.2em;
    font-weight: bold;
}

.navbar>div ul{
    display: flex;
   

}
.navbar>div ul li{
    margin: 0 20px;
  
}
.navbar>div ul li.active a{
    color:var(--secondaryColor);
}


.menu-burger{
    display: none;
   background: var(--lightColor);
    position: absolute;
    top: 16px;
    right: 50px;
   width: 30px;
}




  article{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* display: grid;
    place-items: center;
    height: 100vh; */
  }

  #nom{
    color: var(--primaryColor);
    font-family: "Brush Script MT", cursive;
    /* font-family: Copperplate, Papyrus, fantasy; */
    font-size: 88px;
    padding-left: 190px;
    padding-top: 50px;
  
  }
  #jop{  
    font-family: "Brush Script MT", cursive;
    font-size: 55px;
    color: var(--secondaryColor);
    padding-left: 200px;
  }
  #nom span {
  
    color: var(--secondaryColor);
  }


 .social{
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: translate(-50%, -50%);
 }
 .fa-brands{
    transition: 0.4s;
 }
 .fa-brands:hover{

    transform: scale(1.3);
 }


 @media screen and (max-width:900px){
  .navbar{
      padding: 0;
  }
  .navbar .logo{
    position: absolute;
    top: 16px;
    left: 50px;
  }
  .menu-burger{
      display: block;
  }

  .nav-link{
      top: 0;
      left: 0;
      position: absolute;
      background: rgba(36, 12, 12, 0.868);
      backdrop-filter: blur(10px);
      width: 100%;
      height: 25vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -150%;
      transition: all 0.5s ease;
     
      
  }
  .nav-link.mobile-menu{
      margin-top: 0;
      
      }
  ul{
     
      display: flex;
      flex-direction: column;
       align-items: center;
  }
  .navbar>div ul li{
      margin: 20px 0px;
  }
 
}


@media screen and (max-width:694px){
  #nom{
    color: var(--primaryColor);
    font-family: "Brush Script MT", cursive;
    /* font-family: Copperplate, Papyrus, fantasy; */
    font-size: 58px;
    padding-left: 100px;
    padding-top: 50px;
  
  }
  #jop{  
    font-family: "Brush Script MT", cursive;
    font-size: 45px;
    color: var(--secondaryColor);
    padding-left: 90px;
  }
}

@media screen  and (max-width:500px){
  #nom{
    color: var(--primaryColor);
    font-family: "Brush Script MT", cursive;
    /* font-family: Copperplate, Papyrus, fantasy; */
    font-size: 48px;
    padding-left: 40px;
    padding-top: 50px;
  
  }
  #jop{  
    font-family: "Brush Script MT", cursive;
    font-size: 35px;
    color: var(--secondaryColor);
    padding-left: 60px;
  }
  .social ul{
   display: flex;
   flex-direction: row;
   justify-content: center;
  position: absolute;
  gap: 4px;
  top: 200px;
  left: 100px;
 }
}





/* 

@media screen  and (max-width:540px) {
    #nom{
        color: var(--primaryColor);
        font-family: "Brush Script MT", cursive;
        font-family: Copperplate, Papyrus, fantasy;
        font-size: 35px;
        padding-left:10px;
        padding-top: 20px;
    }


    #jop{  
        font-family: "Brush Script MT", cursive;
        font-size: 25px;
        color: var(--secondaryColor);
        padding-left: 30px;
      }

      .social{
        position: absolute;
        top: 50%;
        left: 4%;
        transform: translate(-50%, -50%);

     }
     .tito,
     .tito,#cabo{
        display: none;
     }

}

    
@media screen  and (min-width:576px) and (max-width:768px){
    

    .tito,
    .tito,#cabo{
       display: none;
    }

    #nom{
        color: var(--primaryColor);
        font-family: "Brush Script MT", cursive;
        font-family: Copperplate, Papyrus, fantasy;
        font-size: 70px;
        padding-left: 190px;
        padding-top: 50px;
      
      }

} 


@media screen  and (min-width:700px) {
    .navbar {
        display: none;
    }



    #nom{
      color: var(--primaryColor);
      font-family: "Brush Script MT", cursive;
      font-family: Copperplate, Papyrus, fantasy;
      font-size: 40px;
      padding-left: 190px;
      padding-top: 50px;
    
    }
    #jop{  
      font-family: "Brush Script MT", cursive;
      font-size: 25px;
      color: var(--secondaryColor);
      padding-left: 80px;
    }

    
}  */
